<!DOCTYPE html>
<html>
<head>
<title>forgot password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="	background-color: #e8e8e8;">

<div style="margin: 50px;	margin-left: 25%;	width: 50%;height: 400px;background-color: white;border-radius: 8px;box-shadow: 5px 10px lightblue;">
	<h1 style="padding-top: 100px;text-align: center;letter-spacing: 2px;">Dwylo APP</h1>
	<p style="text-align:center;">Hello {{user}}</p>
	<p style="margin-bottom: 5%;text-align:center;font-family: 'Lucida Console', Courier, monospace;">Click the below button to reset your password</p>
	<a href="{{activate_url}}" style="padding: 7px;margin-left: 36%;margin-top: 20%;border-radius: 5px;background-color: blue;text-align: center;color: white;text-decoration: none;letter-spacing: 2px;">Forgot Password</a>
</div>
</body>
</html>