<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

</style>
</head>
<body style="background-color: #e8e8e8;">
<div style="margin: 50px;margin-left: 25%;width: 50%;height: 400px;background-color: white;
	border-radius: 8px;">
	<h1 style="padding-top: 100px;text-align: center;">Dwylo APP</h1>
	<p style="text-align: center;margin-top: 10%;color:#60f542;margin-bottom: 20%;font-family: 'Times New Roman', Times, serif;
	font-size: 30px;">Your Password Has Been Successfully Changed</p>
</div>

</body>
</html>